@font-face {
    font-family: "Oakland";
    src: url("./Canopee.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #f4ecc1;
}

.loader {
    width: 100vw;
    height: 100vh;
}

.loader-clip {
    position: absolute;
    width: 100vw;
    height: 33.3vh;
    overflow: clip;
    z-index: 10000;
}

.clip-top {
    top: 0;
    clip-path: inset(0 0 0 0);
    background: #0b0808;
}

.clip-bottom {
    bottom: 0;
    clip-path: inset(0 0 0 0);
    background: #0b0808;
}

.clip-center {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 33.3vh;
    top: 33.3vh;
}

.marquee {
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250vw;
    color: #f4ecc1;
    mix-blend-mode: difference;
    font-size: 16vw;
}

.marquee-container {
    width: 100%;
    padding-top: 0.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Oakland", sans-serif;
    font-weight: 900;
}

.container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    font-family: "Oakland", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 18px;
}

.container .nav,
.container .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2em 4em;
}

.nav-items a {
    text-decoration: none;
    color: #0b0808;
}

.nav-items a:not(:last-child) {
    padding-right: 4em;
}
